@import "tailwindcss";

* {
  background-color: #000000;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Customised Font Styles*/

.font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Customised Background Colors */

.blue {
  background-color: #33a7ff;
}
.black {
  background-color: #000000;
}
.card {
  background-color: #141730;
}
.email-card {
  background-color: #171a34;
}
.input {
  background-color: #2a314d;
}
.sub-btn {
  background-color: #ffce21;
}

/* Customised text colors */

.blue-text {
  color: #33a7ff;
}
.orange {
  color: #ffbe53;
}
.green {
  color: #6cff7c;
}
.light {
  color: #d9dff3;
}
.light-blue {
  color: #46b3ff;
}
.btn {
  color: #141730;
}
.gold{
  color: #ffe288;
}
.red{
  color: #ff586f;
}




/* Customised Border styles */

.border {
  border-color: #33a7ff;
}

/* SVG's Animation Slide */

@keyframes slide {
  0% {
    transform: translateX(-80%);
  }
  100% {
    transform: translateX(80%);
  }
}

.animate-slide {
  animation: slide 15s linear infinite;
}